body {
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-image: radial-gradient(circle, #fbf009, #b0f456, #69ef8d, #15e4b8, #00d5d3, #1ec9d5, #3abdd3, #51b0cd, #49a6c5, #429cbd, #3b92b4, #3488ac);
}

h1 {
  margin-top: 0;
  padding-top: 100px;
  font-family: 'Schoolbell', cursive;
  font-size: 5em;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 7px;
  border-color: #b0f456;
  width: 5%
}

.topcontainer {

  position: relative;
  padding-top: 200px;
}

.middlecontainer {
  background-color: #FFDADA;
  height: 200px;
  width: 200px;
}

.bottomcontainer {
  background-color: #9DDFD3;
  height: 200px;
  width: 200px;
}

.top-cloud {
  position: absolute;
  left: 500px;
  top: 150px;
}

.bottom-cloud {
  position: absolute;
  right: 500px;
  bottom: 500px;

}

.landscapefrenchieimg {
  margin-top: 200px;
}
